
.link{
  color:gray;
  }

  .facebook{
    color:#2f54a4c9;
}
.instagram{
  color:#F56040c9;
}
.whatsapp{
  color:#128C7Ec9;
}
.youtube{
  color:#c4302bc9;
}

a{
  text-decoration: none;
}


.shadow {
  max-width: 800px;
}
.item{
  border-radius: 30px;
}
.container-facebook{

  border-bottom-style: solid;
  border-bottom-color: #2f54a47a;


}
.container-instagram{

  border-bottom-style: solid;
  border-bottom-color: #F560407a;



}
.container-whatsapp{
  border-bottom-style: solid;
  border-bottom-color: #128C7E7a;



}
.container-youtube{
  border-bottom-style: solid;
  border-bottom-color: #c4302b7a;

}
